{{ define "main" }}
  <div class="justify-left mx-auto mt-8 flex max-w-(--breakpoint-md) px-4">
    <div class="mt-8">
      <h1>{{ .Title }}</h1>
      {{ range .Pages }}
        <article class="mb-8">
          <a href="{{ .RelPermalink }}" class="text-xl font-bold">{{ .Title }}</a>
          <div class="mt-2 text-sm text-slate-500 dark:text-slate-400">
            {{ .Date | time.Format ":date_medium" }}
          </div>
          {{ with .Params.tags }}
            <div class="mt-2">
              {{ range . }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="rounded-full bg-gray-200 px-2 py-1 text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-300">#{{ . }}</a>
              {{ end }}
            </div>
          {{ end }}
          <div class="mt-4 prose dark:prose-invert">
            {{ .Summary | markdownify }}
          </div>
        </article>
      {{ end }}
    </div>
  </div>
{{ end }}