{{ define "main" }}
  <div class="justify-left mx-auto mt-8 flex max-w-(--breakpoint-md) px-4">
    <div class="mt-8">
      <h1>{{ .Title }}</h1>
      <div class="mt-2 text-sm text-slate-500 dark:text-slate-400">
        {{ .Date | time.Format ":date_medium" }}
      </div>
      
      {{ with .Params.cardimage }}
        {{ $image := resources.Get . }}
        {{ if $image }}
          <img src="{{ $image.RelPermalink }}" alt="Card image for this page" />
        {{ end }}
      {{ end }}
      
      {{ with .Params.tags }}
        <div class="mt-4 flex flex-wrap gap-2">
          {{ range . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="inline-flex items-center rounded-md border-2 border-transparent bg-slate-200 px-2 py-1 text-xs text-black transition-colors duration-200 ease-in-out hover:bg-slate-300 dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600">
              #{{ . }}
            </a>
          {{ end }}
        </div>
      {{ end }}

      <article class="mt-4 prose dark:prose-invert">
        {{ .Content }}
      </article>
    </div>
  </div>
{{ end }}